[Unit]
Description=GT06 Tracker
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=pi
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/opt/GT06ScannerClient
ExecStart=/opt/GT06ScannerClient/venv/bin/python3 ./runClient.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
